html,body,p{
  padding:0;
  margin:0;
}

body{
  margin-top:50px;
  background: #FDF5E6;
  text-align:center;
}

.link{
  margin-top:50px;
}

.sample {
  font-size:5em;
  text-align:center;
  line-height:0.95em;
  font-weight:bold;
  color: transparent;
  -webkit-text-stroke: 0.03em rgba(0,0,0,1);
}